
#container{
box-shadow: 1px 1px 8px 2px gray,-1px -1px 18px 2px gray;
width:400px;

display:block;
margin:auto;
margin-top:120px;

border-radius:2%;
background-color:white;
}
#ab-1{
	box-shadow: 1px 1px 8px 2px gray,-1px -1px 18px 2px gray;
width:400px;

display:inline;
margin:auto;


border-radius:2%;
background-color:white;
}
input[type="text"]:active{
	height:40px;
}
#footer{
	width:400px;
	height:40px;
	box-shadow: 1px 1px 8px 2px gray,-1px -1px 18px 2px gray;
	display:block;
margin:auto;
margin-top:14px;
text-align:center;
border-radius:12%;
background-color:white;

}
#logo{
	font-family: 'Caveat', cursive;
	text-align:center;
	font-size:60px;
	margin-bottom:20px;
	transition:color 1.5s;
}
#logo:hover{
	color:#EE6655;
	
	
}
#fr{
	text-align:center;
	
	
	

}
.label{
	position:relative;
	top:30px;
	right:85px;
	display:inline-block;
	color:#505152;
	cursor:auto;
	margin:0px;
	padding:0px;
font-family: 'Roboto Slab', serif;
	
	
}
input{
	
	height:40px;
	display:block;
	margin:auto;
	width:250px;
	background-color:#ebebeb;
	border:1px solid #dbd7d7;
	border-radius:5px;
font-family: 'Exo 2', sans-serif;
color:black;
font-size:15px;
	
	
}
input[type="submit"]{
	width:180px;
	background-color:#4e86ed;
	color:white;
	cursor:pointer;
	margin-top:10px;
	transition:width 1s,background-color 2s;
}
input[type="submit"]:hover{
	width:250px;
	background-color:#2e45f2;
	
}
#password{
	
	margin-left:75px;
	
	
}
#confurm_password-lb{
	margin-left:65px;
}

a{
	
	text-decoration:none;

	
}
p{
	
	padding-top:12px;
}
#l1{
	
	
	display:inline-block;
	margin-top:20px;
	
	width:17%;
	
	

}
#l2{

width:10%;


display:inline-block;


}
#l3{
	width:17%;
	display:inline-block;
	margin:0px;
	
}
#name,#confurm_password,#name-lb,#confurm_password-lb{
display:none;


}

#story-div{
	
	height:70px;
	
	background-color:black;
	border: 2px solid gray;
	padding-bottom:6px;
	
}
#person-story-div{
	border: 2px solid purple;
margin:2px;
margin-left:10px;
	width:50px;
	height:50px;
	
	border-radius:50%;
	
}
#post-main-div{
	border:2px solid white;
	background-color:black;

	height:600px;
}
#account-info-div{
	border:5px solid yellow;
    
	position:fixed;
	bottom:0px;

	height:100px;
	width:100%;
}
#person-story-name-div{
	color:white;
display:block;


width:150%;
height:20px;
 white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top:50px;
  
  margin-left:-7px;
 
}
body,html{
	margin:0px;
	padding:0px;
	background-color:#FF4411;
	
}
@media screen and (max-width:400px){
	#container,#footer{
		
		margin-left:5px;
		margin-right:27px;
		width:350px;
		
		

	}
}